# Build output
/target

# IDE
/.idea/
/.vscode/settings.json
# Assets
*.fla
/patches/*/build/*
# Generated / runtime files
/patches-final/
/pocket-patches/
/patches/*
loader.iml

#this is generated for local testing
loader/skills_custom.json 

.env
loader/Desktop_base.swf
loader/Desktop_code.swf
loader/Desktop_code-0.abc
loader/Mobile_code.swf
loader/Mobile_code-0.abc
loader/Desktop-app-local.xml
loader/gamefiles/
aqwpocket_keystore_local.p12
loader/Mobile-app-gpu.xml
loader/Mobile_code.swf
loader/Mobile_code-0.abc
*.apk
loader/skills_custom.json
